@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --green: #00ff33;
    --amber: #ffbb00;
    --red: #ff4000;
    --black: #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

body {
    background-color: var(--black);
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 1rem;
    margin: auto;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status p {
    color: var(--green);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.card {
    border: 2px solid var(--green);
    width: 100%;
    height: 575px;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    position: relative;
    padding: 1rem;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}

.question-slider-container {
    width: 250px;
}

.question-mask, .answer-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    transition: width 0.8s linear;
}

.question-mask.no-transitions, .answer-mask.no-transitions {
    transition: width 0s linear;
}

/* .question-mask {
    z-index: 10;
}

.answer-mask {
    z-index: 5;
} */

.question-container {
    padding: 0 1rem;
    color: var(--amber);
    background-color: var(--black);
    position: relative;
    width: calc(100vw - 2rem);
    height: 500px;
}

img {
    width: 100%;
    height: 216px;
    object-fit: cover;
}

img.fullscreen {
    width: auto;
    height: 100%;
}

.fullscreen-container {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.fa-expand {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.1s;
}

.fa-expand:hover {
    transform: scale(1.2);
}

.fullscreen + .fa-expand:hover {
    transform: scale(0.8);
}

.answer-container {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 2rem);
    height: 500px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-container i{
    position: relative;
}

svg {
    margin: 1rem 0;
    /* border: 2px solid greenyellow; */
    width: 400px;
    height: 250px;
}

circle:hover {
    r: 12px;
}

.buttons-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.btn {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.btn-amber-outline {
    color: var(--amber);
    border: 1px solid var(--amber);
}

.btn-green-outline {
    color: var(--green);
    border: 1px solid var(--green);
}

.btn-red-outline {
    color: var(--red);
    border: 1px solid var(--red);
}

.btn.disabled {
    cursor: default;
    pointer-events: none;
    filter: brightness(0.7)
}


.text-input {
    width: 130px;
    padding: 10px;
    background-color: var(--black);
    color: var(--amber);
    border: 1px solid #FFBB00;
}

.progress-table-container{
    margin: 1rem 0;
    padding: 0 1rem;
    width: 100%;
    display: block;
    height: 150px;
    overflow-y: scroll;
}

table {
    width: 100%;
}


.progress-table tr {
    margin: auto;
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
}

.progress-table td {
    color: var(--amber);
    text-transform: uppercase;
}


.results-container {
    width: 100%;
    margin-bottom: 3rem;
}

.results-container * {
    margin: 1rem 0;
}

.results-table-container {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    padding: 0 0.5rem;
    display: block;
    overflow-y: scroll;
}

.results-table tr:first-of-type {
    font-weight: bold;
    font-size: 18px;
}
/* 
.results-table td {
    width: 33%;
} */

.results-table tr td:last-of-type {
    text-align: right;
    width: 25%;
}

.result-table tr td:first-of-type {
    width: 50%;
}

.btn-restart {
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 3px;
}
  
::-webkit-scrollbar-track {
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--amber);
    border-radius: 500px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 8px;
    background: var(--amber);
    cursor: pointer;
    margin-top: -6.5px;
  }

  input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 8px;
    background: var(--amber);
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--green);
    border-radius: 2px;
  }

  input[type=range]::-moz-range-track-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--green);
    border-radius: 2px;
  }

  input[type=range]:active::-webkit-slider-runnable-track {
    filter: brightness(0.7);
  }

  input[type=range]:active::-moz-range-track-track {
    filter: brightness(0.7);
  }
  
  input[type=range]:focus {
    outline: none;
  }


.green {
    color: var(--green);
    stroke: var(--green);
}

.amber {
    color: var(--amber);
}

.red {
    color: var(--red);
}

.bold {
    font-weight: bold;
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.hidden {
    visibility: hidden;
}


@media (min-width: 992px){
    .container {
        width: 50%;
    }

    img {
        height: 20vw;
    }

    .question-container {
        width: calc(50vw - 2rem);
    }
    
    .answer-container {
        width: calc(50vw - 2rem);
    }

    .results-table-container {
        width: 50%;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .container {
        width: 75%;
    }

    img {
        height: 30vw;
    }

    .question-container {
        width: calc(75vw - 2rem);
    }

    .answer-container {
        width: calc(75vw - 2rem);
    }

    .results-table-container {
        width: 75%;
    }
}


/* http://aleclownes.com/2017/02/01/crt-display.html */
.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

 .model {
     width: 100px;
     height: 100px;
     position: absolute;
     background-color: white;
     display: none;
 }

